*{margin: 0; padding: 0; box-sizing: border-box;}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons-footer a{
    text-decoration: none;
    margin-right: 0.3em;
}

.footer img{
    width: 25px;
}